h1{
    color:ghostwhite;
    font-size:50px;
    font-family:Helevetica;
}
*{
    background-color:aliceblue
}


    .page {
  border: 2px solid #042F5F;
  background-color: aliceblue;
  padding: 10px;}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: cadetblue;
  text-align: center;
}

nav top{
    display:inline;
}