body{
    font-family: sans-serif;
    margin: 0px;
    
}
header, footer {
    background-color: #eeeee
}

footer {
    text-align:center;
    padding: 30px;
    
}

nav li{
    display:inline;
}

nav {
    float: right;
}

.container{}